* {
    font-family: monospace;
}

#home-style {
    text-align: center;
    font-size: 48px;
    color: ghostwhite;

}

.head-container,
.list-container {
    margin: 20px 300px;
    border: 3px solid black;
}

.head-container {
    background-color: darkslateblue;
}

.list-container {
    text-align: center;
}

li {
    list-style: none;
    font-size: 24px;
}